<p id="notice"><%= notice %></p>

<p>
  <strong>Permitted Id:</strong>
  <%= @admin_table.adminId %>
</p>


<%= link_to 'Edit', edit_admin_table_path(@admin_table) %> |
<%= link_to 'Back', admin_tables_path %>
