<p id="notice"><%= notice %></p>

<p>
  <strong>Permitted Id:</strong>
  <%= @leader_table.leaderId %>
</p>


<%= link_to 'Edit', edit_leader_table_path(@leader_table) %> |
<%= link_to 'Back', leader_tables_path %>
